<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
</head>
<body>
    
    <nav style="padding: 20px 20px; background-color: chocolate;"> 
        <a href="/product" style="color: white; font-weight: bold; text-decoration: none;"> Home </a>
        <a href="/product/add" style="color: white; font-weight: bold; text-decoration: none; padding-left: 30px;">Add product</a>
    </nav>

    <div class="container">
        
    </div>
</body>
</html>